body {
    padding: 0;
    margin: 0;
    background: rgb(255, 183, 49)
}
.navbar {
    background:#00000041;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-image: url('about-page-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}
.description {
	left: 50%;
	position: absolute;
	top: 15%;
	transform: translate(-50%, -55%);
	text-align: center;
    width: 100%;
}
.description h1 {
	color: #000000;
}
.description p {
	color: #000000;
	font-size: 1.5rem;
	line-height: 1;
    
}
.container .row {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    
}
.col-sm {
    margin-top: 25%;
    font-size: 1.3rem;
    width: 100%;
}
